/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImg {
    background: url("/bg.svg");
}
html,
body,
#root {
    height: 100%;
    text-decoration: none;
}
a {
    color: white;
    text-decoration: none;
    text-decoration-color: #1d2a4e;
}
.bgSecondary {
    background-color: #1d2a4e;
}

.welcome-div {
    border-radius: 10px;
    padding: 80px 110px 80px 110px;
    background-color: #1d2a4e;
}

/* Login styles */

.loginSection {
    color: white;
    width: 100%;
    height: 100%;
}

.ld1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ld2 {
    margin-top: 140px;
    width: 600px;
    padding: 70px 100px;
    /* border-radius: 30px; */

    /* justify-self: center; */
}

.ld2 h1 {
    margin-bottom: 50px;
}
.button {
    width: 100%;
}

.shareSection {
    /* height: 100%; */
    color: #fff;
    /* background-color: black; */
    padding-top: 35px;
    padding-left: 30px;
    cursor: pointer;
    padding-right: 30px;
}
.shareHeading {
    font-size: 55px;
    margin-left: 20px;
}
.shareDiv {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    color: white;
}
.sharecard {
    color: white;
    text-decoration: none;
    background-color: #202545;
    border-radius: 30px;
    /* margin-bottom: 20px; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shareCarddiv1 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    width: 50%;
}
.shareCarddiv2 {
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    font-size: 30px;
    font-weight: bold;
    gap: 50px;
    align-items: center;
    width: 30%;
    /* background-color: red; */
}
.sharecard a {
    text-decoration: none;
}
.sharecardImage {
    width: 150px;
}

.newsCard {
    display: flex;
    flex-wrap: wrap;
}

.ncard {
    display: flex;
    margin-right: 50px;
    padding: 50px;
    margin-bottom: 50px;
    background-color: #202545;
    border-radius: 25px;
    width: calc(90% / 3);
    box-sizing: border-box;
}
.ncard2 {
    display: flex;
    margin-right: 50px;
    padding: 50px;
    margin-bottom: 50px;
    background-color: #202545;
    border-radius: 25px;
}

.shareContainer {
    height: 60vh; /* Adjust the height as per your requirement */
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.shareDiv {
    flex: 1;
}

.sharehighlow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}

/* .sharehighlow{
    display: flex;
    width: 30%;
    margin-left: 90px;
} */

.sharehighlow2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-left: 750px;
    font-weight: bold;
    margin-top: 70px;
    /* background-color: green; */
    /* gap: 70px; */
}
.selectedShareDescription {
    color: white;
    padding-left: 55px;
    padding-right: 110px;
}

.shareDetailsSection {
    color: white;
    height: 100%;
}
.imagelogo {
    height: 40px;
}

.shareDetailsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    margin-bottom: 80px;
    margin-top: 50px;
}

.sdd2 {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #1d2a4e;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.sdmaindiv {
    display: flex;
}
.sdsubdiv {
    width: 70%;
}
.sdnewshead {
    margin-top: 50px;
}
.sdnews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 303px; */
    /* background-color: #1d2a4e; */
    flex-wrap: wrap;
    width: 30%;
    margin-top: 140px;
    margin-bottom: 30px;
}

.down {
    width: 60px;
    height: 40px;
}
.sdnews h2 {
    margin-bottom: 40px;
}

.sdnewsCard {
    margin-bottom: 30px;
}
