@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/ocr-a-std");
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");

.font-ocr-a {
    font-family: "OCR A Std", sans-serif;
}

.vidaloka-regular {
    font-family: "Vidaloka", serif;
    font-weight: 400;
    font-style: normal;
}

.main-bg {
    background-image: linear-gradient(
        to top right,
        rgb(7, 140, 103) ,
        rgb(49, 49, 79),
        rgb(23, 75, 75),
        rgb(7, 140, 103) 
    );
}
